{% extends "index.html" %}
{% block content %}


  <!-- GUI main content -->
  <main class="container">
    <form action="/api", method="GET">
      <div class="row mb-3">
        <label for="search_term" class="col-sm-2 col-form-label">Search Term</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="search_term" name="search_term">
        </div>
      </div>
      <h4>Search Option Parameters</h4>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="url">
        <label class="form-check-label" for="flexSwitchCheckDefault">URL: returns the page url.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="title">
        <label class="form-check-label" for="flexSwitchCheckDefault">Title: returns the page title.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="summary">
        <label class="form-check-label" for="flexSwitchCheckDefault">Summary: returns a short summary of the requested page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="sections">
        <label class="form-check-label" for="flexSwitchCheckDefault">Sections: returns the section titles of the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="text">
        <label class="form-check-label" for="flexSwitchCheckDefault">Text: returns the text of the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="links">
        <label class="form-check-label" for="flexSwitchCheckDefault">Links: returns all the links found in the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="pdf_links">
        <label class="form-check-label" for="flexSwitchCheckDefault">PDF Links: returns links to PDF documents.</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if msg %}
    <div class="container mt-3 alert alert-warning" role="alert"">{{ msg }}</div>
    {% endif %}
    <div class="mt-4">
      <p class="text-danger">This GUI is to practice learning how to make GET requests to the Wiki Scraper with a GUI. Ideally, your software should make HTTP requests to the API directly.</p>
    </div>
  </main>


  {% endblock %}

  <!-- custom script -->
  {% block scripts %}{% endblock %}