{% extends "index.html" %}
{% block content %}


  <!-- GUI main content -->
  <main class="container">
    <form action="/api", method="GET">
      <div class="row mb-3">
        <label for="search_term" class="col-sm-2 col-form-label">Search Term</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="search_term" name="search_term">
        </div>
      </div>
      <h4>Search Option Parameters</h4>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="url">
        <label class="form-check-label" for="flexSwitchCheckDefault">URL: returns the page url.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="title">
        <label class="form-check-label" for="flexSwitchCheckDefault">Title: returns the page title.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="summary">
        <label class="form-check-label" for="flexSwitchCheckDefault">Summary: returns a short summary of the requested page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="sections">
        <label class="form-check-label" for="flexSwitchCheckDefault">Sections: returns the section titles of the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="text">
        <label class="form-check-label" for="flexSwitchCheckDefault">Text: returns the text of the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="links">
        <label class="form-check-label" for="flexSwitchCheckDefault">Links: returns all the links found in the page.</label>
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="pdf_links">
        <label class="form-check-label" for="flexSwitchCheckDefault">PDF Links: returns links to PDF documents.</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if msg %}
    <div class="container mt-3 alert alert-warning" role="alert"">{{ msg }}</div>
    {% endif %}
    <div class="mt-4">
      <p class="text-danger">This GUI is to practice learning how to make GET requests to the Wiki Scraper with a GUI. Ideally, your software should make HTTP requests to the API directly using code. See the <a href="/docs">Docs</a> section to learn how to use the API.</p>
    </div>

    <!-- accordion section -->
    <div class="mt-4">
      <h4>Code Implementation</h4>
      <p>Provided here are code snippets of how you would implement the Wiki Scraper API into your project:</p>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              JavaScript Implementation
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is an example code snippet using JavaScript.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              <pre>
                <code class="language-javascript">
    // build URL
    const base_url = "https://crypto-wiki.herokuapp.com/api?";

    // URL parameter settings
    const search_term = `search_term=${asset}&`;
    const summary_param = "summary=on";
    const url = base_url + search_term + summary_param;

    // AJAX request
    const xhr = new XMLHttpRequest();

    // event listener for request
    xhr.addEventListener("load", () => {
      if (xhr.status === 200 && xhr.readyState == 4) {
        const responseText = JSON.parse(xhr.responseText)
        // call helper function to do something with Wiki API response text
        doStuff(responseText);
      }
      else {
        console.log("ERROR in executing AJAX");
      }
    });

    // send GET request
    xhr.open("GET", url, true);
    xhr.send(null);
                </code>
              </pre>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Python Implementation
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <strong>This is an example code snippet using Python.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              <pre>
                <code class="language-javascript">
    # use requests module
    import requests

    # make request
    r =requests.get('http://localhost:55055/api?search_term=dogs&title=on&summary=on')

    # do something with Wiki API response text
    doSomething(r)
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  {% endblock %}

  <!-- custom script -->
  {% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
  {% endblock %}