/* author:   Sandro Aguilar */

.assets {
  background-image: url('/static/img/asset-img/btc.png');
  /* background-size: 24px; */
  width: 24px;
  height: 24px;
}

.assets {
  /* background-image: url('/static/img/asset-img/btc.png'); */
  /* background-size: 24px; */
  width: 24px;
  height: 24px;
}
